<section class="conteiner advantages">
    <p class="visually-hidden">advantages</p>
    <ol class="advantages-list">
        <li class="advantages-list-item">
            <h3 class="adv-list-nomer">01</h3>

            <p class="adv-list-text">Swimming and water sports: try your hand at water skiing</p>
        </li>
        <li class="advantages-list-item">
            <h3 class="adv-list-nomer">02</h3>

            <p class="adv-list-text">Fishing: try to catch your own dinner</p>
        </li>
        <li class="advantages-list-item">
            <h3 class="adv-list-nomer">03</h3>

            <p class="adv-list-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from
                the water</p>
        </li>
        <li class="advantages-list-item">
            <h3 class="adv-list-nomer">04</h3>

            <p class="adv-list-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor
                atmosphere.</p>
        </li>
    </ol>
    <div class="adv-picture">
        <picture>
            <source srcset="./img/advantages/advantages-laptop2.jpg 1x, ./img/advantages/advantages-laptop2@2x.jpg 2x"
                media="(min-width: 1440px)">
            <source srcset="./img/advantages/advantages-laptop1.jpg 1x, ./img/advantages/advantages-laptop1@2x.jpg 2x"
                media="(min-width: 1280px)">
            <source srcset=" ./img/advantages/advantages-tablet.jpg 1x, ./img/advantages/advantages-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset=" ./img/advantages/advantages-mobile.jpg 1x, ./img/advantages/advantages-mobile@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./img/advantages/advantages-mobile.jpg" alt="yacht">
        </picture>
    </div>
</section>