<section class="footer-section">
    <div class="footer">
        <div class="footer-box-nav">
            <div class="footer-logo-nav">
                <a href="#hero">
                    <h3 class="footer-logo">yachtjet</h3>
                </a>
                <ul class="footer-navigation-list">
                    <li class="footer-navigation-item"><a class="footer-a" href="#abouts">About</a>
                    </li>
                    <li class="footer-navigation-item"><a class="footer-a" href="#ouryacht">Yachts</a>
                    </li>
                    <li class="footer-navigation-item"><a class="footer-a" href="#reviews">Reviews</a>
                    </li>
                </ul>
            </div>
            <ul class="footer-social-list">
                <li class="footer-social-item">
                    <a class="elips-foot" href="https://www.instagram.com/goitclub/">
                        <svg class="social-list-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="elips-foot" href="https://www.youtube.com/c/GoIT">
                        <svg class="social-list-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="elips-foot" href="https://www.facebook.com/goITclub/">
                        <svg class="social-list-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer-haslo">No matter which yacht you choose, our experienced crew will ensure that your journey is
            smooth and enjoyable.</p>
        <div class="footer-atribut-list">
            <p class="footer-atribut">2023. Yacht Adventures</p>
            <p class="footer-atribut">Privacy Police</p>
        </div>
    </div>
</section>