<section id="ouryacht" class="ouryachts conteiner">
    <h2 class="ouryachts-title">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="ouryachts-cards">
        <li class="ouryachts-card-1">
            <picture>
                <source srcset="./img/our-yacht/our-yacht-laptop21.jpg 1x, ./img/our-yacht/our-yacht-laptop21@2x.jpg 2x"
                    media="(min-width: 1440px)">
                <source srcset="./img/our-yacht/our-yacht-laptop11.jpg 1x, ./img/our-yacht/our-yacht-laptop11@2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source
                    srcset=" ./img/our-yacht/our-yacht-tablet11.jpg 1x, ./img/our-yacht/our-yacht-tablet11@2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset=" ./img/our-yacht/our-yacht-mobile1.jpg 1x, ./img/our-yacht/our-yacht-mobile1@2x.jpg 2x"
                    media="(max-width: 767px)">
                <img src="./img/our-yacht/our-yacht-mobile1.jpg" alt="yacht">
            </picture>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="ouryacht-name">Arrow</p>
                    <p class="ouryacht-klass">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>LENGTH</li>
                        <li>BUILDER</li>
                        <li>BUILT</li>
                        <li>GUESTS</li>
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>48m(155ft)</li>
                        <li>Admiral</li>
                        <li>2021</li>
                        <li>11 in 5 cabins</li>
                        <li>€33,500,000</li>
                    </ul>
                </div>

            </div>
        </li>
        <li class="ouryachts-card-2">
            <picture>
                <source srcset="./img/our-yacht/our-yacht-laptop22.jpg 1x, ./img/our-yacht/our-yacht-laptop22@2x.jpg 2x"
                    media="(min-width: 1440px)">
                <source srcset="./img/our-yacht/our-yacht-laptop12.jpg 1x, ./img/our-yacht/our-yacht-laptop12@2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source srcset=" ./img/our-yacht/our-yacht-tablet2.jpg 1x, ./img/our-yacht/our-yacht-tablet2@2x.jpg 2x"
                    media="(min-width: 768px)">
                <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
            </picture>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="ouryacht-name">Arrow</p>
                    <p class="ouryacht-klass">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>LENGTH</li>
                        <li>BUILDER</li>
                        <li>BUILT</li>
                        <li>GUESTS</li>
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>48m(155ft)</li>
                        <li>Admiral</li>
                        <li>2021</li>
                        <li>11 in 5 cabins</li>
                        <li>€33,500,000</li>
                    </ul>
                </div>

            </div>
        </li>
        <li class="ouryachts-card-3">
            <picture>
                <source srcset="./img/our-yacht/our-yacht-laptop23.jpg 1x, ./img/our-yacht/our-yacht-laptop23@2x.jpg 2x"
                    media="(min-width: 1440px)">
                <source srcset="./img/our-yacht/our-yacht-laptop13.jpg 1x, ./img/our-yacht/our-yacht-laptop13@2x.jpg 2x"
                    media="(min-width: 1280px)">
                <img src="./img/our-yacht/our-yacht-laptop13.jpg" alt="yacht">
            </picture>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="ouryacht-name">Arrow</p>
                    <p class="ouryacht-klass">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>LENGTH</li>
                        <li>BUILDER</li>
                        <li>BUILT</li>
                        <li>GUESTS</li>
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>48m(155ft)</li>
                        <li>Admiral</li>
                        <li>2021</li>
                        <li>11 in 5 cabins</li>
                        <li>€33,500,000</li>
                    </ul>
                </div>

            </div>
        </li>
    </ul>
    <a class="our-a" href="#rents">Yacht rental</a>

</section>