<section id="rents" class="conteiner rent-section">
    <div class="rent">
        <h2 class="rent-form-title">Rent a yacht now</h2>
        <form class="rent-form">
            <input class="rent-form-input" name="user-name" type="text" pattern="[a-zA-Zа-яА-ЯіІїЇєЄ]+"
                placeholder="Full Name" required>
            <input class="rent-form-input" name="user-email" type="email" placeholder="Email" required>
            <input class="rent-form-input" name="user-phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                placeholder="Phone number" required>
            <textarea class="rent-form-comment" name="user-comment" placeholder="Comment" required></textarea>
        </form>
        <button class="rent-submit-buttom" type="submit">Send</button>
    </div>
    <div class="rent-picture">
        <picture>
            <source srcset="./img/rent/rent-laptop2.jpg 1x, ./img/rent/rent-laptop2@2x.jpg 2x"
                media="(min-width: 1440px)">
            <source srcset="./img/rent/rent-laptop1.jpg 1x, ./img/rent/rent-laptop1@2x.jpg 2x"
                media="(min-width: 1280px)">
            <source srcset=" ./img/rent/rent-tablet.jpg 1x, ./img/rent/rent-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset=" ./img/rent/rent-mobile.jpg 1x, ./img/rent/rent-mobile@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./img/rent/rent-mobile1.jpg" alt="yacht">
        </picture>
    </div>
</section>