<section class="conteiner">
    <h2 class="reviews-title">YachtJet take pride in providing the best possible service and experience to our customers
    </h2>
    <p class="reviews-text">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for
        it - read
        on to find out
        what they have to say about their journey with us.</p>
    <ul class="">
        <li class="reviews-card">
            <img class="johnfoto" srcset="./img/reviews/john@2x.jpg 2x" src="./img/reviews/john.jpg" alt="John foto">
            <h3 class="reviews-card-title">John Wax</h3>
            <p class="reviews-card-text">I rented the Lagoon 620 with my family for a week-long vacation and it was the
                best decision
                ever. The yacht was
                spacious, comfortable, and luxurious, and the crew took care of everything.</p>
        </li>
        <li></li>
        <li></li>
    </ul>
</section>