<section id="window" class="window is-open">
    <div class="header-cont">
        <a onclick="document.getElementById('window').style.display='none'" href="#hero">
            <h3 class="window-logo">yachtjet</h3>
        </a>
        <a onclick="document.getElementById('window').style.display='none'" class="header-menu-open" href="#header">
            <svg width="28" height="28">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </a>
    </div>
    <div class="window-nav-social">
        <ul class="window-navigation-list">
            <li class="window-navigation-item"><a onclick="document.getElementById('window').style.display='none'"
                    class="footer-a" href="#abouts">About</a>
            </li>
            <li class="window-navigation-item"><a onclick="document.getElementById('window').style.display='none'"
                    class="footer-a" href="#ouryacht">Yachts</a>
            </li>
            <li class="window-navigation-item"><a onclick="document.getElementById('window').style.display='none'"
                    class="footer-a" href="#reviews">Reviews</a>
            </li>
        </ul>
        <ul class="footer-social-list">
            <li class="footer-social-item">
                <a href="https://www.instagram.com/goitclub/">
                    <svg class="social-list-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-item">
                <a href="https://www.youtube.com/c/GoIT">
                    <svg class="social-list-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-item">
                <a href="https://www.facebook.com/goITclub/">
                    <svg class="social-list-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>