.advantages-list {
    display: flex;
    padding: 80px 20px 80px 20px;
    flex-direction: column;
    border-radius: 24px;
    background: #1B414B;
    text-align: start;
    margin-bottom: 20px;
    list-style-type: none;
    margin-top: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

.adv-list-nomer {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    letter-spacing: -0.05em;
    margin-bottom: 18px;
}

.adv-list-text {
    color: #FBFBFB;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15;
    opacity: 0.8;
    padding-top: 18px;
    padding-bottom: 40px;
    border-color: rgba(251, 251, 251, 0.10);
    border-top-width: 2px;
    border-top-style: groove;
}

@media screen and (min-width: 768px) {
    .advantages-list {
        max-width: 100%;
        height: 424px;
        flex-wrap: wrap;
        gap: 32px;
        flex-direction: row;
        padding: 90px 32px 78px 32px;
    }

    .advantages-list-item {
        width: 304px;
    }

    .adv-list-text {
        padding-bottom: 12px;
    }
}

@media screen and (min-width: 1280px) {
    .advantages {
        display: flex;
        gap: 32px;
    }

    .advantages-list {
        width: 716px;
        height: 424px;

    }

    .adv-picture {
        width: 432px;
        height: 424px;
    }
}

@media screen and (min-width: 1440px) {
    .adv-picture {
        width: 540px;
        height: 424px;
        flex-shrink: 0;
    }

    .advantages-list {
        width: 768px;
        height: 424px;
    }
}