.ouryachts {
    background-color: #0E1823;
    padding-top: 40px;
    padding-bottom: 80px;
}

.ouryachts-title {
    text-align: center;
    font-size: 28px;
    padding: 40px 8px;
}

.ouryachts-cards {
    display: flex;
    gap: 32px;
}

.ouryachts-card-1,
.ouryachts-card-2,
.ouryachts-card-3 {
    border-radius: 24px;
    background-color: #FBFBFB;
    padding: 16px;
}

.ouryachts-card-2,
.ouryachts-card-3 {
    display: none;
}

.our-card-content {
    padding: 16px;
    gap: 32px;
}

.our-card-title {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom-color: rgba(4, 3, 6, 0.10);
    border-bottom-width: 1px;
    border-bottom-style: groove;
}

.ouryacht-name {
    color: #1B414B;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: -0.045em;
    text-transform: uppercase;
}

.ouryacht-klass {
    color: #040306;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    opacity: 0.4;
}

.our-card-capacity {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    color: #040306;
    font-size: 14px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.our-main-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: 0.4;
    align-items: start;
}

.our-detail-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
}

.our-a {
    display: inline-flex;
    padding: 14px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    margin-top: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-a:hover {
    background: #FBFBFB;
    color: #1B414B;
}

@media screen and (min-width: 768px) {
    .ouryachts-card-2 {
        display: block;
    }

    .ouryachts-card-3 {
        display: none;
    }

    .ouryachts-title {
        font-size: 48px;
        padding: 75px 24px;

    }

    .our-a {
        margin-top: 50px;
    }

    .ouryachts {
        padding-top: 75px;
        padding-bottom: 150px;
    }
}

@media screen and (min-width: 1280px) {

    .ouryachts-card-3,
    .ouryachts-card-2 {
        display: block;
    }

    .ouryachts-cards {
        gap: 25px;
    }

    .ouryachts-title {
        padding: 75px 243px;
    }
}

@media screen and (min-width: 1440px) {
    .ouryachts-cards {
        gap: 32px;
        justify-content: center;
    }

    .ouryachts-title {
        padding: 75px 313px;
    }
}