.rent {
    text-align: start;
    padding-top: 80px;
    padding-bottom: 80px;
}

.rent-form-title {
    color: #FBFBFB;
    font-size: 28px;
    padding-bottom: 40px;
}

.rent-form {
    display: inline-flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    padding-bottom: 40px;
}

.rent-form-input {
    height: 54px;
    background-color: #0E1823;
    padding: 14px 18px 14px 18px;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.20);
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(251, 251, 251, 0.40);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
}

.rent-form-comment:focus,
.rent-form-input:focus {
    color: #FBFBFB;
    border: 1px solid rgba(251, 251, 251, 0.50);
}

.rent-form-comment::placeholder {
    color: rgba(251, 251, 251, 0.40);
}

.rent-form-input::placeholder {
    color: rgba(251, 251, 251, 0.40);
}

.rent-form-comment {
    resize: none;
    background-color: #0E1823;
    height: 108px;
    padding: 14px 18px 14px 18px;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.20);
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(251, 251, 251, 0.40);
}

.rent-submit-buttom {
    padding: 14px 44px;
    border-radius: 15px;
    background: #1B414B;
    color: #FBFBFB;
    font-size: 14px;
    line-height: 1.25;
    width: 122px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.rent-submit-buttom:hover {
    color: #1B414B;
    background: #FBFBFB;
}

@media screen and (min-width: 768px) {
    .rent {
        padding-left: 116px;
        padding-right: 116px;
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .rent-form-title {
        font-size: 48px;
        padding-bottom: 50px;
    }

    .rent-form-comment {
        padding: 18px;
        height: 116px;
    }

    .rent-submit-buttom {
        width: 194px;
        height: 56px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .rent-section {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        padding-top: 130px;

    }

    .rent {
        padding: 0;
        width: 472px;
    }

    .rent-form {
        padding-bottom: 50px;
    }


}


@media screen and (min-width: 1440px) {
    .rent-section {
        justify-content: start;
    }
}