.reviews-title {
    font-size: 28px;
    padding-top: 80px;
}

.reviews-text {
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15;
    opacity: 0.4;
}

.reviews-card-list {
    padding-bottom: 80px;
}

.reviews-card {
    display: flex;
    padding: 32px 8px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #FBFBFB;
}

.reviews-foto {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.reviews-card-title {
    color: #040306;
    font-size: 18px;
    line-height: 1.1;
    padding-bottom: 8px;
}

.reviews-card-text {
    color: rgba(4, 3, 6, 0.40);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding-left: 8px;
    padding-right: 8px;
}

.vika,
.ihor {
    display: none;
}

@media screen and (min-width: 768px) {
    .reviews-title {
        font-size: 47px;
        padding-top: 150px;
        font-weight: 500;
    }

    .reviews-text {
        font-size: 14px;
        padding-bottom: 75px;
        width: 571px;
        margin-left: auto;
        margin-right: auto;
    }

    .vika {
        display: flex;
    }

    .reviews-card-list {
        display: flex;
        gap: 32px;
        padding-bottom: 150px;
    }

    .reviews-card {
        width: 336px;
        height: 282px;
    }
}

@media screen and (min-width: 1280px) {
    .ihor {
        display: flex;
    }

    .reviews-card-list {
        gap: 26px;
    }

    .reviews-card {
        width: 376px;
    }

    .reviews-title {
        font-size: 48px;
        width: 854px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media screen and (min-width: 1280px) {
    .reviews-card {
        width: 392px;
    }

    .reviews-card-list {
        gap: 32px;
        justify-content: center;
    }
}