@media screen and (max-width: 767px) {
    .window {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0E1823;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 999;
        max-width: 375px;
        min-width: 320px;
        padding: 16px 20px 40px 20px;
    }

    .window,
    .is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header-cont {
        max-width: 335px;
        height: 42px;
        display: flex;
        border-radius: 8px;
        border: 1px solid #FBFBFB;
        background: #FBFBFB;
        justify-content: space-between;
        padding: 0px 20px;
        align-items: center;

    }

    .window-logo {
        color: #1B414B;
        font-size: 14px;
        letter-spacing: -0.03em;
    }

    .window-nav-social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-top: 201px;
        padding-bottom: 40px;
    }

    .window-navigation-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .window-navigation-item {
        width: 91px;
        height: 40px;
        border-radius: 8px;
        background: #1B414B;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .window-navigation-item:hover {
        background: #FBFBFB;
        color: #1B414B;
    }
}